@{
    ViewBag.Title = "OnlinePrecence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    SERA MACAW
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <!-- PRICE ITEM -->
                            <div class="panel price panel-red">
                                <div class="panel-heading  text-center">
                                    <h3>FACEBOOK</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <div class="fb-page" data-href="https://www.facebook.com/seramacaw" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/seramacaw"><a href="https://www.facebook.com/seramacaw">‏‎SERA MACAW‎‏</a></blockquote></div></div>
                                </div>

                            </div>
                            <!-- /PRICE ITEM -->


                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <!-- PRICE ITEM -->
                            <div class="panel price panel-blue">
                                <div class="panel-heading arrow_box text-center">
                                    <h3>INSTGRAM</h3>
                                </div>
                                <div class="panel-body text-center">


                                    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="6" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:37.5% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BBU9dDgQ2Ev/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Did you catch this offer from our stores ? Hurry up and enjoy savings ..@@ abbas el akkad , Genena Mall ,Tanta &amp; Zagazig  هل اقتنيتى هذه الفرصه بمحلاتنا ؟ استمتعى بالخصومات و بعرض ال 99 فى جميع فروعنا على احدث التشكيلات الشتويه .. فى انتظاركم</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Sera Macaw (@@seramacaw) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-02-03T14:29:26+00:00">Feb 3, 2016 at 6:29am PST</time></p></div></blockquote>
                                    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>


                                </div>

                            </div>
                            <!-- /PRICE ITEM -->


                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <!-- PRICE ITEM -->
                            <div class="panel price panel-green">
                                <div class="panel-heading arrow_box text-center">
                                    <h3>TWITTER</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SERAMACAW" target="_blank" data-widget-id="436142970790625280"></a>
                                </div>

                            </div>
                            <!-- /PRICE ITEM -->


                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    CR7
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <!-- PRICE ITEM -->
                            <div class="panel price panel-red">
                                <div class="panel-heading  text-center">
                                    <h3>FACEBOOK</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <div class="fb-page" data-href="https://www.facebook.com/cr7footwearegypt" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/seramacaw"><a href="https://www.facebook.com/seramacaw">‏‎SERA MACAW‎‏</a></blockquote></div></div>
                                </div>

                            </div>
                            <!-- /PRICE ITEM -->


                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <!-- PRICE ITEM -->
                            <div class="panel price panel-blue">
                                <div class="panel-heading arrow_box text-center">
                                    <h3>INSTGRAM</h3>
                                </div>
                                <div class="panel-body text-center">


                                    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="6" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BBdHYbkLWqM/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Find all #cr7footwear suggestions for Valentine&#39;s Day at Cristiano Ronaldo Store #cristianoronaldo #valentineday #fw15 #endofseasonsale#citycenter#alex</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by CR7 Egypt (@@cr7footwear_egypt) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-02-06T18:30:07+00:00">Feb 6, 2016 at 10:30am PST</time></p></div></blockquote>
                                    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

                                </div>

                            </div>
                            <!-- /PRICE ITEM -->


                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <!-- PRICE ITEM -->
                            <div class="panel price panel-green">
                                <div class="panel-heading arrow_box text-center">
                                    <h3>TWITTER</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SERAMACAW" target="_blank" data-widget-id="436142970790625280"></a>
                                </div>

                            </div>
                            <!-- /PRICE ITEM -->


                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    MHG
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <!-- PRICE ITEM -->
                            <div class="panel price panel-red">
                                <div class="panel-heading  text-center">
                                    <h3>FACEBOOK</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <div class="fb-page" data-href="https://www.facebook.com/Mustafa.Hashem.Group" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/seramacaw"><a href="https://www.facebook.com/seramacaw">‏‎SERA MACAW‎‏</a></blockquote></div></div>
                                </div>

                            </div>
                            <!-- /PRICE ITEM -->


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="fb-root"></div>
        <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

